Repository ciberado/agentic-videoclub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

feat: create new agent package based on template structure
  packages/agent/jest.config.js
  packages/agent/package.json
  packages/agent/src/index.ts
  packages/agent/tsconfig.json
Due: eslint --fix, prettier --write

feat(agent): add LangGraph dependencies for video recommendation agent
  packages/agent/package.json
Due: prettier --write

docs(agent): add comprehensive design document for LangGraph agent
  packages/agent/DESIGN.md
Due: prettier --write

docs: add MCP proxy running instructions
  RUNNING-MCP-WITH-MCPPROXY.md
Due: prettier --write

chore: update package-lock.json with new dependencies
  package-lock.json
Due: prettier --write

feat(agent): update design with enhanced prompt processing and adaptive batch evaluation
  packages/agent/DESIGN.md
Due: prettier --write

feat(agent): implement Winston logging with comprehensive tracing
  packages/agent/.gitignore
  packages/agent/DESIGN.md
  packages/agent/README-LOGGING.md
  packages/agent/src/__tests__/logger.test.ts
  packages/agent/src/config/logger.ts
  packages/agent/src/index.ts
  packages/agent/src/utils/logging.ts
Due: eslint --fix, prettier --write

feat(agent): implement barebone LangGraph video recommendation agent
  packages/agent/src/__tests__/agent.integration.test.ts
  packages/agent/src/index.ts
Due: eslint --fix, prettier --write

modernize: upgrade agent to LangGraph v1 patterns
  .github/copilot-instructions.md
  packages/agent/src/index.ts
Due: eslint --fix, prettier --write

docs: update DESIGN.md to reflect LangGraph v1 implementation
  packages/agent/DESIGN.md
Due: prettier --write

refactor: modularize agent into clean file structure
  packages/agent/src/data/fake-movies.ts
  packages/agent/src/data/generators.ts
  packages/agent/src/index.ts
  packages/agent/src/nodes/batch-control.ts
  packages/agent/src/nodes/evaluation.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/nodes/prompt-enhancement.ts
  packages/agent/src/routing/flow-control.ts
  packages/agent/src/state/definition.ts
  packages/agent/src/types/index.ts
  packages/agent/src/utils/reasoning.ts
Due: eslint --fix, prettier --write

docs: add comprehensive technical documentation to agent workflow nodes
  packages/agent/src/nodes/batch-control.ts
  packages/agent/src/nodes/evaluation.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/nodes/prompt-enhancement.ts
  packages/agent/src/routing/flow-control.ts
Due: eslint --fix, prettier --write

feat: configure dotenv for environment variable loading in agent package
  .gitignore
  packages/agent/.env.example
  packages/agent/.gitignore
  packages/agent/src/index.ts
Due: eslint --fix, prettier --write

feat: implement real LLM integration for prompt enhancement node
  package-lock.json
  packages/agent/package.json
  packages/agent/src/config/logger.ts
  packages/agent/src/nodes/prompt-enhancement.ts
  packages/agent/src/services/llm.ts
Due: eslint --fix, prettier --write

Use static import
  packages/agent/src/nodes/prompt-enhancement.ts
Due: eslint --fix, prettier --write

refactor: create specialized LLM services for focused use cases
  packages/agent/src/nodes/prompt-enhancement.ts
  packages/agent/src/services/README.md
  packages/agent/src/services/prompt-enhancement-llm.ts
Due: eslint --fix, prettier --write

fix: resolve MaxListenersExceededWarning in Winston logger configuration
  packages/agent/src/config/logger.ts
Due: eslint --fix, prettier --write

feat: implement real Prime Video scraping with LLM-powered data normalization
  package-lock.json
  packages/agent/package.json
  packages/agent/src/__tests__/agent.integration.test.ts
  packages/agent/src/__tests__/movie-normalization-llm.test.ts
  packages/agent/src/__tests__/prime-video-scraper.test.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/services/movie-normalization-llm.ts
  packages/agent/src/services/prime-video-scraper.ts
  packages/agent/src/services/prompt-enhancement-llm.ts
Due: eslint --fix, prettier --write

feat: improve movie discovery with caching and increased limits
  packages/agent/package-lock.json
  packages/agent/package.json
  packages/agent/src/__tests__/movie-cache.test.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/services/movie-cache.ts
  packages/agent/src/services/prime-video-scraper.ts
Due: eslint --fix, prettier --write

Added sqlite.
  .gitignore
Due: none

feat(logger): add execution-specific log files
  packages/agent/src/config/logger.ts
Due: eslint --fix, prettier --write

feat: implement movie evaluation LLM service with parallel processing
  packages/agent/src/services/movie-evaluation-llm.ts
Due: eslint --fix, prettier --write

refactor: upgrade evaluation node to use real LLM service
  packages/agent/src/nodes/evaluation.ts
Due: eslint --fix, prettier --write

feat: enhance state management with pagination and batch tracking
  packages/agent/src/state/definition.ts
Due: eslint --fix, prettier --write

feat: implement intelligent workflow routing and batch processing
  packages/agent/src/index.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/routing/flow-control.ts
Due: eslint --fix, prettier --write

feat: optimize test environment for faster execution
  packages/agent/jest.config.js
  packages/agent/src/__tests__/agent.integration.test.ts
  packages/agent/src/__tests__/prime-video-scraper.test.ts
  packages/agent/src/__tests__/setup.ts
  packages/agent/src/services/movie-normalization-llm.ts
  packages/agent/src/services/prime-video-scraper.ts
Due: eslint --fix, prettier --write

feat: update configuration and build setup
  packages/agent/.env.example
  packages/agent/package.json
Due: prettier --write

docs: update DESIGN.md to reflect current production implementation
  packages/agent/DESIGN.md
Due: prettier --write

feat: implement complete video recommendation agent with LangGraph workflow
  packages/agent/src/index.ts
  packages/agent/src/nodes/batch-control.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/routing/flow-control.ts
  packages/agent/src/services/movie-evaluation-llm.ts
  packages/agent/src/services/movie-normalization-llm.ts
  packages/agent/src/services/prime-video-scraper.ts
  packages/agent/src/state/definition.ts
Due: eslint --fix, prettier --write

fix: resolve GraphRecursionError and improve workflow routing
  packages/agent/src/routing/flow-control.ts
  packages/agent/src/state/definition.ts
  packages/agent/src/types/index.ts
  packages/agent/src/utils/state-helpers.ts
Due: eslint --fix, prettier --write

feat: improve data quality with simplified web scraping
  packages/agent/src/services/movie-normalization-llm.ts
  packages/agent/src/services/prime-video-scraper.ts
Due: eslint --fix, prettier --write

feat: enhance movie evaluation and discovery pipeline
  packages/agent/src/nodes/evaluation.ts
  packages/agent/src/nodes/movie-discovery.ts
Due: eslint --fix, prettier --write

feat: enhance user experience and fix process termination
  packages/agent/package.json
  packages/agent/src/index.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive token consumption tracking
  packages/agent/src/index.ts
  packages/agent/src/services/movie-evaluation-llm.ts
  packages/agent/src/services/movie-normalization-llm.ts
  packages/agent/src/services/prompt-enhancement-llm.ts
  packages/agent/src/state/definition.ts
  packages/agent/src/utils/token-tracker.ts
Due: eslint --fix, prettier --write

feat: add token tracking state helpers and ESLint dependency
  packages/agent/package.json
  packages/agent/src/utils/state-helpers.ts
Due: eslint --fix, prettier --write

refactor: finalize token tracking implementation with code quality improvements
  packages/agent/src/index.ts
  packages/agent/src/services/movie-evaluation-llm.ts
  packages/agent/src/services/movie-normalization-llm.ts
  packages/agent/src/services/prompt-enhancement-llm.ts
  packages/agent/src/state/definition.ts
Due: eslint --fix, prettier --write

chore: update package-lock.json for ESLint plugin installation
  package-lock.json
Due: prettier --write

docs: update node comments and DESIGN.md with current implementation
  packages/agent/DESIGN.md
  packages/agent/src/index.ts
  packages/agent/src/nodes/batch-control.ts
  packages/agent/src/nodes/evaluation.ts
  packages/agent/src/nodes/movie-discovery.ts
  packages/agent/src/nodes/prompt-enhancement.ts
  packages/agent/src/services/prime-video-scraper.ts
Due: eslint --fix, prettier --write

fix: resolve critical ESLint errors
  packages/agent/src/__tests__/movie-cache.test.ts
  packages/agent/src/__tests__/movie-normalization-llm.test.ts
  packages/agent/src/__tests__/prime-video-scraper.test.ts
  packages/agent/src/config/logger.ts
  packages/agent/src/routing/flow-control.ts
Due: eslint --fix, prettier --write

feat: add tmdb movie enrichment tool for llm evaluation
  package-lock.json
  packages/agent/.env.example
  packages/agent/package.json
  packages/agent/src/__tests__/tmdb-enrichment.test.ts
  packages/agent/src/index.ts
  packages/agent/src/services/movie-cache.ts
  packages/agent/src/services/movie-evaluation-llm.ts
  packages/agent/src/services/tmdb-enrichment-tool.ts
  packages/agent/src/services/tmdb-enrichment.ts
  packages/agent/tsconfig.json
Due: eslint --fix, prettier --write
