Repository ciberado/agentic-videoclub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: improve poster URL extraction in single-agent strategy
  packages/agentic/src/services/movie-evaluation-single-agent.ts
Due: eslint --fix, prettier --write

refactor: remove deprecated movie-evaluation-llm-react-integration
  packages/agentic/src/services/movie-evaluation-llm-react-integration.ts
Due: eslint --fix, prettier --write

feat: implement structured logging for webapp
  packages/webapp/src/config/logger.ts
  packages/webapp/src/server/server.ts
  packages/webapp/src/server/services/agentInvoker.ts
  packages/webapp/src/server/services/logWatcher.ts
  packages/webapp/src/server/websocket/handler.ts
Due: eslint --fix, prettier --write

feat: add MOVIE_EVALUATION_STRATEGY to webapp environment
  packages/webapp/.env.example
Due: none

docs: update slides documentation and add images
  slides/README.md
  slides/images/jeff-sad.jpg
  slides/images/jeff-smiling.jpg
Due: prettier --write

feat(slides): update presentation with enhanced content
  slides/README.md
  slides/css/alyssum.css
  slides/css/alyssum.css.map
  slides/css/local.css
  slides/css/local.css.map
  slides/images/bubble-2.png
  slides/images/car-explosion.jpg
  slides/images/dance-2.jpg
  slides/images/dance-3.jpg
  slides/images/langgraph.png
  slides/images/robot-fierce.png
  slides/images/robot-sad.png
  slides/images/tmdb.png
  slides/scss/alyssum.scss
  slides/scss/local.scss
Due: prettier --write

docs(agentic): updates the document with the current implementation details
  packages/agentic/DESIGN.md
Due: prettier --write

docs: update batch-control.ts comments to reflect actual implementation
  packages/agentic/src/nodes/batch-control.ts
Due: eslint --fix, prettier --write

feat(slide): additional content
  slides/README.md
  slides/css/local.css
  slides/css/local.css.map
  slides/images/emule.jpg
  slides/scss/local.scss
Due: prettier --write

feat: add batch control node for workflow orchestration
  packages/agentic/DESIGN.md
  packages/agentic/README-LOGGING.md
Due: prettier --write

chore: removed unnecessary file
  RUNNING-MCP-WITH-MCPPROXY.md
Due: prettier --write

docs: add comprehensive project README
  README.md
Due: prettier --write

feat(slides): update presentation content
  slides/README.md
  slides/images/enshittification.jpg
  slides/images/ghavid-qr.png
Due: prettier --write

style(slides): update presentation styling
  slides/css/local.css
  slides/css/local.css.map
  slides/scss/local.scss
Due: none

fix: minor fix
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md,yaml,yml})
